.main{
    display: flex;
    flex-direction: row;
    background-color: #e38445;
    min-height: 350px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px;
    min-width: max-content;
}

.linkedin-iframe{
    display: flex;
    margin-left: 20px;
}

.badge-base{
    margin: 30px 100px 0px 0px;
}

.last-message{
    margin-right: 20px;
    width: 35%;
}

.last-message .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p{
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.content p:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.rights p{
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.rights{
    margin-top: 15px;
}

@media (max-width: 865px){
    .main{
        flex-direction: column-reverse;
        padding: 30px 50px;
    }

    .last-message{
        width: 336px;
    }

    .linkedin-iframe{
        width: unset;
        margin-left: unset;
        margin-bottom: 50px;
        width: 336px;
    }
  }
