

<div class="main">
    <div class="last-message">
        <hr class="hr1">
        <div class="content" >
            <div class="flexCol">
                <img src="../../../../assets/images/command.png" alt="Logo Ajax" class="logo">
            </div>
            
            <p>"The only way to go fast, is to go well." <br> — Robert C. Martin (Uncle Bob)</p>
        </div>
        <hr class="hr2">

        <div class="rights">
            <p>© 2024 - Todos os direitos reservados.</p>
            <p>Desenvolvido por Gabriel Alves</p>
        </div>
    </div>
    
    <div class="linkedin-iframe">
        <div class="badge-base LI-profile-badge" data-locale="pt_BR" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="gabriel-alves16111991" data-version="v1"></div>                            
    </div>

</div>

